[Desktop Entry]
Encoding=UTF-8
Name=Dither Filter
Name[el]=Φίλτρο κουκίδων
Name[en_GB]=Dither Filter
Name[es]=Filtro 
Name[et]=Pseudotoonimise filter
Name[fr]=Filtre de tramage
Name[ga]=Scagaire Díodáin
Name[gl]=Filtro de esfumar
Name[hne]=डिथर फिल्टर
Name[it]=Filtro retinatura
Name[km]=ច្របល់​តម្រង
Name[nds]=Punkteer-Filter
Name[nl]=Dither-filter
Name[pt]=Filtro Discreto
Name[pt_BR]=Filtro de Tremor
Name[sv]=Gitterfilter
Name[tr]=Titreme Süzgeci
Name[uk]=Фільтр тонування
Name[x-test]=xxDither Filterxx
Comment=Dither an image.
Comment[en_GB]=Dither an image.
Comment[es]=Saltar una imagen.
Comment[et]=Pildi pseudotoonimine.
Comment[fr]=Tramer une image
Comment[it]=Applica la retinatura in un'immagine.
Comment[km]=ធ្វើ​ឲ្យ​រូបភាព​មានពណ៌​មិន​ច្បាស់ ។
Comment[nl]=Een afbeelding ditheren.
Comment[pt]=Tornar as cores de uma imagem discretas.
Comment[sv]=Använd ett gitterfilter på en bild.
Comment[tr]=Bir resmi soldur.
Comment[uk]=Зібрати зображення.
Comment[x-test]=xxDither an image.xx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaDither
X-Krita-Version=2
