[Desktop Entry]
Encoding=UTF-8
Name=Dither Filter
Name[el]=Φίλτρο κουκίδων
Name[es]=Filtro 
Name[et]=Pseudotoonimise filter
Name[fr]=Filtre de profondeur
Name[ga]=Scagaire Díodáin
Name[gl]=Filtro de esfumar
Name[km]=ច្របល់​តម្រង
Name[nds]=Punkteer-Filter
Name[nl]=Dither-filter
Name[pt]=Filtro Discreto
Name[pt_BR]=Filtro de Tremor
Name[sv]=Gitterfilter
Name[tr]=Titreme Süzgeci
Name[uk]=Фільтр тонування
Name[x-test]=xxDither Filterxx
Comment=Dither an image.
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaDither
X-Krita-Version=2
